* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}

body {
    font-family: cursive;
    margin: 0;
    padding: 0;
    background-image: url(./image/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjQ0NS10YXVzLTAyYi10ZWNobm9sb2d5YmFja2dyb3VuZGlkZWFfMl8wLmpwZw.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

.Password {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.container {
    max-width: 500px;
    padding: 60px 40px;
    height: 60vh;
    margin-top: 12rem;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: rgba(255, 255, 255, 0.417);
    backdrop-filter: blur(22px);
}

.passwordImage img {
    max-width: 100%;
    margin-top: 9rem;

}

@media screen and (max-width:900px) {}

.passwordImage img {
   display: none;
}

h1 {
    color: #333;
    font-size: 2.2rem;
}

.options label {
    font-weight: bold;
    margin-right: 10px;
}

.options input[type="checkbox"] {
    margin-right: 5px;
}

.passwordLength {
    font-size: 1.2rem;
}


button {
    background-color: #0074d9;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

input {
    margin-left: 10px;
}

button:hover {
    background-color: #0056b3;
}

.result textarea {
    width: 100%;
    height: 100px;
    margin-top: 10px;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 16px;
    resize: none;
}

#passwordLength {
    width: 100%;
    height: 20px;
    background: linear-gradient(to right, #0074d9 0%, #0074d9 100%);
}


input[type="checkbox"]:checked, input[type="radio"]:checked {
    width: 17px;
    height: 17px;
    accent-color: #0074d9;
    border: 2px solid #bcbcbc;
}

input[type="range"] {
    accent-color: #0074d9;
}